{
  "root": true,
  "extends": ["plugin:react/recommended", "eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": 1,
    "@typescript-eslint/no-var-requires": 1,
    "@typescript-eslint/ban-types": 1,
    "react/prop-types": 1,
    "no-constant-condition": 1,
    "@typescript-eslint/no-empty-interface": 1,
    "@typescript-eslint/no-empty-function": 1,
    "@typescript-eslint/no-inferrable-types": 1
  }
}
